@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #52ab98;
}

.navbar {
    height: 80px;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
}
.logo {
    font-size: 35px;
    font-family: Oswald;
    color: white;
    margin-left: 80px;
}

.links {
    position: relative;
    left: 50%;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.nav-link {
    font-size: 16px;
    color: white;
    font-family: Indie Flower;
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: 150ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover {
    background: #0088a8;
}


/*  
   { RESPONSIVENESS OPTIMIZATION CODE BELOW }
*/
@media all and (max-width: 1140px) {
    .links {
        left: 40%;
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
    .nav-link {
        font-size: 16px;
        color: white;
        font-family: Indie Flower;
        height: 100%;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        transition: 150ms ease-in-out;
        cursor: pointer;
        text-decoration: none;
    }
}
@media all and (max-width: 1060px) {
    .navbar {
        height: 70px;
        background: rgb(34, 34, 34);
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 32px;
        font-family: Oswald;
        color: white;
        margin-left: 70px;
    }
    .links {
        left: 40%;
        width: 40%;
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
    .nav-link {
        font-size: 16px;
        color: white;
        font-family: Indie Flower;
        height: 100%;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        transition: 150ms ease-in-out;
        cursor: pointer;
        text-decoration: none;
    }
}
@media all and (max-width: 930px) {
    .navbar {
        height: 70px;
        background: rgb(34, 34, 34);
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 30px;
        font-family: Oswald;
        color: white;
        margin-left: 60px;
    }
}
@media all and (max-width: 900px) {
    .links {
        left: 30%;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
    .nav-link {
        font-size: 16px;
        color: white;
        font-family: Indie Flower;
        height: 100%;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        transition: 150ms ease-in-out;
        cursor: pointer;
        text-decoration: none;
    }
}
@media all and (max-width: 800px) {
    .navbar {
        height: 60px;
        background: rgb(34, 34, 34);
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 25px;
        font-family: Oswald;
        color: white;
        margin-left: 50px;
    }
    .links {
        left: 20%;
        width: 60%;
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
    .nav-link {
        font-size: 13px;
        color: white;
        font-family: Indie Flower;
        height: 100%;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        transition: 150ms ease-in-out;
        cursor: pointer;
        text-decoration: none;
    }
}
@media all and (max-width: 600px) {
    .navbar {
        height: 50px;
        background: rgb(34, 34, 34);
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 23px;
        font-family: Oswald;
        color: white;
        margin-left: 40px;
    }
    .links {
        left: 20%;
        width: 60%;
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
    .nav-link {
        font-size: 11px;
        color: white;
        font-family: Indie Flower;
        height: 100%;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        transition: 150ms ease-in-out;
        cursor: pointer;
        text-decoration: none;
    }
}
@media all and (max-width: 500px) {
    .navbar {
        height: 50px;
        background: rgb(34, 34, 34);
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 20px;
        font-family: Oswald;
        color: white;
        margin-left: 30px;
    }
    .links {
        left: 17%;
        width: 60%;
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
    .nav-link {
        font-size: 9px;
        color: white;
        font-family: Indie Flower;
        height: 100%;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        transition: 150ms ease-in-out;
        cursor: pointer;
        text-decoration: none;
    }
}
@media all and (max-width: 400px) {
    .navbar {
        height: 35px;
        background: rgb(34, 34, 34);
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 18px;
        font-family: Oswald;
        color: white;
        margin-left: 20px;
    }
    .links {
        left: 17%;
        width: 60%;
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
    .nav-link {
        font-size: 7px;
        color: white;
        font-family: Indie Flower;
        height: 100%;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        transition: 150ms ease-in-out;
        cursor: pointer;
        text-decoration: none;
    }
}




/* Extra Code */



.qr-code {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (max-width: 400px) {
    .qr-code {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}